<div class="adminsales">
<h1>WATET</h1>

<i>
  <p class="caps"><%= t :No_more_disappointing_surprises %>!</p>
<p><%= t :No_more_more_problems_with_what_to_buy_for_your_friends %>!</p>
<p><%= t :Keep_a_list_things_you_would_like_to_have_and_share_it_with_your_mates %>!</p>
<p><%= t :No_additional_registration_required %>,<%= t :use_your_facebook_account %>!</p>
</i>
<%= t :Just %> <a href=/auth/facebook><%= t :login%></a>
</div>


